<div class="portal">
  <input type="checkbox" id="chk" aria-hidden="true">

  <div class="login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
      <label for="chk" aria-hidden="true">Login</label>
      <input type="email" formControlName="email" placeholder="Email" required>
      <input type="password" formControlName="password" placeholder="Password" required>
      <button type="submit">Login</button>
    </form>
  </div>

  <div class="signup">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUpForm()">
      <label for="chk" aria-hidden="true">Sign up</label>
      <div>
        <input type="text" formControlName="name" placeholder="Name" max="50" required>
        <input type="text" formControlName="companyName" placeholder="Company name">
        <input type="text" formControlName="email" placeholder="Email" required> <!-- required Because necessary for login -->
        <input type="tel" formControlName="phoneNumber" placeholder="Phone number">
        <input type="text" formControlName="password" placeholder="Password" required>
        <button type="submit">Sign up</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="showAlert">
  <div *ngIf="alert.type=='SUCCESS'" class="alert success-msg">
    <span><i class="fas fa-check-circle"></i>&nbsp;&nbsp;{{ alert.message }}</span>
    <i class="alert-close-button far fa-times-circle" (click)="showAlert = false"></i>
  </div>
  <div *ngIf="alert && alert.type=='ERROR'" class="alert error-msg">
    <span><i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;{{ errorMessage }}</span>
    <i class="alert-close-button far fa-times-circle" (click)="showAlert = false"></i>
  </div>
</div>
