.portal {
  width: 380px;
  height: 500px;
  background-color: transparent;
  letter-spacing: 0.12em;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

#chk {
  display: none;
}

.login {
  position: relative;
  width:100%;
  height: 100%;
}

label {
  color: #0668b2;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

input {
  width: 60%;
  height: 6px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

button {
  width: 30%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #0668b2;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}

button:hover {
  background: #0668b2;
}

.signup {
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: .8s ease-in-out;
}

.signup form div {
  margin-top: -35px;
}

.signup label {
  padding-top: 10px;
  color: #0668b2;
  transform: scale(.6);
}

#chk:checked ~ .signup {
  transform: translateY(-500px);
}

#chk:checked ~ .signup label {
  transform: scale(1);
}

#chk:checked ~ .login label {
  transform: scale(.6);
}
