<section>
  <div class="add-card">
    <form [formGroup]="addCardForm" (ngSubmit)="onSubmitAddCardForm()">
      <label for="name">Name
        <input type="text" formControlName="name" id="name" placeholder="Name" max="50">
      </label>
      <label for="companyName">Company name
        <input type="text" formControlName="companyName" id="companyName" placeholder="Company name">
      </label>
      <label for="companyName">Email
        <input type="text" formControlName="email" id="email" placeholder="Email" required>
      </label>
      <label for="companyName">Phone number
        <input type="tel" formControlName="phoneNumber" id="phoneNumber" placeholder="Phone number">
      </label>
      <button type="submit">Add</button>
    </form>
  </div>
</section>
