<div [class]="{'app-not-auth': !isAuth, 'app-auth': isAuth}">
  <header [class]="{'not-auth-header': !isAuth, 'auth-header': isAuth}">
    <img class="not-auth-portal-logo" src="assets/logo.png" alt="ktr-msc-ls1 logo" *ngIf="!isAuth">
    <h3 style="margin: 6px;" *ngIf="!isAuth">ktr-msc-ls1</h3>

    <div style="display: flex; align-items: center" *ngIf="isAuth">
      <img class="auth-portal-logo" src="assets/logo.png" alt="ktr-msc-ls1 logo">
      <span style="margin: 6px;">ktr-msc-ls1</span>
    </div>

    <div *ngIf="isAuth">
      <label class="dropdown">
        <div class="dropdown-button">
          <i class="far fa-user-circle"></i>&nbsp;
          <span *ngIf="authUser">{{ authUser.name }}</span>&nbsp;
          <i class="fas fa-caret-down"></i>
        </div>
        <input type="checkbox" class="dropdown-input" id="test">
        <ul class="dropdown-menu dropdown-profile-menu">
          <li (click)="openModal('edit-profile')"><i class="fas fa-user-edit"></i>&nbsp;Edit profile</li>
          <li class="divider"></li>
          <li (click)="logOut()"><i class="fas fa-sign-out-alt"></i>&nbsp;Log out</li>
        </ul>
      </label>
    </div>
  </header>

  <main class="main">
    <div *ngIf="!isAuth">
      <app-portal></app-portal>
    </div>
    <app-profile *ngIf="isAuth" [authUser]="authUser"></app-profile>
  </main>

  <footer class="footer" *ngIf="!isAuth">
    <p>© 2022 ktr-msc-ls1</p>
  </footer>
</div>

<div class="modal-background overflow-auto" *ngIf="modalIsOpen">
  <div class="modal-wrapper">
    <div class="modal-header">
      <div class="modal-title">
        <p *ngIf="modalContent == 'edit-profile'"><span>Edit profile</span></p>
      </div>
      <a style="vertical-align: center; cursor: pointer"><i class="modal-close-button far fa-times-circle" (click)="closeModal()"></i></a>
    </div>

    <div class="modal-body">
      <app-edit-profile *ngIf="modalContent == 'edit-profile'" [authUser]="authUser"></app-edit-profile>
    </div>
  </div>
</div>
