.not-auth-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: transparent;
}

.auth-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,.6);
}

.not-auth-portal-logo {
  width: 80px;
  margin-bottom: 30px;
}

.auth-portal-logo {
  width: 42px;
  padding: 10px;
}

.auth-header div {
  padding: 0 16px
}

.fa-user-circle {
  padding: 3px;
  font-size: 1.2rem;
}

.main {
  background: transparent;
  margin: 0 auto;
}

.footer p {
  font-size: .9rem;
  margin-top: 32px;
  text-align: center;
  color: black;
}

