<section class="profile-container">
  <p class="add-card-button cursor-pointer"><button class="cursor-pointer" title="Add Card" (click)="openModal('add-card')"><i class="far fa-plus-square"></i>&nbsp;&nbsp;&nbsp;Add card</button></p>

  <div class="container">
    <h3 style="padding: 30px;">Cards ({{ authUser.cards.length }})</h3>

    <div class="card-container">
      <div class="card" *ngFor="let card of authUser.cards">
        <div class="card-header">
          <i class="fas fa-edit cursor-pointer" (click)="openModal('edit-card'); currentCard = card"></i>&nbsp;&nbsp;&nbsp;
          <i style="color: red" class="fas fa-times-circle cursor-pointer" (click)="openModal('delete-card'); currentCard = card"></i>
        </div>
        <p title="Name"><i class="fas fa-user"></i>&nbsp;<strong>{{ card?.name }}</strong></p>
        <p title="Company name"><i class="fas fa-building"></i>&nbsp;{{ card?.companyName }}</p>
        <p title="Email"><i class="fas fa-at"></i>&nbsp;{{ card?.email }}</p>
        <p title="Phone number"><i class="fas fa-phone-alt"></i>&nbsp;{{ card?.phoneNumber }}</p>
      </div>
    </div>
  </div>
</section>

<div class="modal-background overflow-auto" *ngIf="modalIsOpen">
  <div class="modal-wrapper">
    <div class="modal-header">
      <div class="modal-title">
        <p *ngIf="modalContent == 'add-card'"><span>Add card</span></p>
        <p *ngIf="modalContent == 'edit-card'"><span>Edit card</span></p>
        <p *ngIf="modalContent == 'delete-card'"><span>Delete card</span></p>
      </div>
      <a style="vertical-align: center; cursor: pointer"><i class="modal-close-button far fa-times-circle" (click)="closeModal()"></i></a>
    </div>

    <div class="modal-body">
      <app-add-card *ngIf="modalContent == 'add-card'" [authUser]="authUser"></app-add-card>
      <app-edit-card *ngIf="modalContent == 'edit-card'" [authUser]="authUser" [currentCard]="currentCard"></app-edit-card>
      <app-delete-card *ngIf="modalContent == 'delete-card'" [authUser]="authUser" [currentCard]="currentCard"></app-delete-card>
    </div>
  </div>
</div>
