.profile-container {
  margin: 42px auto 0 auto;
  width: 90%;
  border-radius: 15px;
}

.add-card-button {
  text-align: right;
}

.add-card-button button {
  background-color: #0668b2;
  color: #fff;
  font-size: .75rem;
  padding: 8px 16px;
}

.container {
  margin: 30px 0;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.15), 0 2px 6px 2px rgba(60,64,67,0.15);
  border-radius: 15px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 5px 35px 35px 35px;
  padding: 10px 25px;
  border: 2px solid #0668b2;
  border-radius: 15px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: end;
}
