<section>
  <div class="delete-profile">
    <form [formGroup]="deleteCardForm" (ngSubmit)="onSubmitDeleteCardForm()">
      <div>
        <label for="password">Password
          <input type="text" formControlName="password" id="password" placeholder="Password">
        </label>
      </div>
      <button type="submit">Delete</button>
    </form>
  </div>
</section>
