<section>
  <div class="edit-profile">
    <form [formGroup]="editProfileForm" (ngSubmit)="onSubmitEditProfileForm()">
      <div>
        <label for="name">Name
          <input type="text" formControlName="name" id="name" placeholder="Name" max="50" required>
        </label>
        <label for="companyName">Company name
          <input type="text" formControlName="companyName" id="companyName" placeholder="Company name">
        </label>
        <label for="email">Email
          <input type="text" formControlName="email" id="email" placeholder="Email">
        </label>
        <label for="phoneNumber">Phone number
          <input type="tel" formControlName="phoneNumber" id="phoneNumber" placeholder="Phone number">
        </label>
        <label for="password">Password
          <input type="text" formControlName="password" id="password" placeholder="Password">
        </label>
      </div>
      <button type="submit">Save</button>
    </form>
  </div>
</section>
